<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_02_Pandas Data Cleaning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## ðŸŸ© Remove Rows with Missing Values (2.2.1)

In [3]:
df = df.dropna(subset=['salary_rate', 'job_skills', 'job_location', 'job_schedule_type', 'job_via'])
df.count()

job_title_short          29346
job_title                29346
job_location             29346
job_via                  29346
job_schedule_type        29346
job_work_from_home       29346
search_location          29346
job_posted_date          29346
job_no_degree_mention    29346
job_health_insurance     29346
job_country              29346
salary_rate              29346
salary_year_avg          19908
salary_hour_avg           9097
company_name             29346
job_skills               29346
job_type_skills          29346
dtype: int64

---

## ðŸŸ¨ Remove Duplicate Rows (2.2.2)

In [4]:
df = df.drop_duplicates()

---

## ðŸŸ¨ Fill Missing Values in Column (2.2.3)

In [5]:
yearly_med = df['salary_year_avg'].median()
hourly_med = df['salary_hour_avg'].median()

df['salary_year_avg'] = df['salary_year_avg'].fillna(yearly_med)
df['salary_hour_avg'] = df['salary_hour_avg'].fillna(hourly_med)

---