<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_10_Pandas Applying Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [12]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
from datetime import date

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## ðŸŸ© Convert Date to String (2.10.1)

In [11]:
date_string_df = df.copy()

date_string_df['job_posted_date'] = date_string_df['job_posted_date'].apply(lambda date_string: str(date_string))

type(date_string_df['job_posted_date'][0])

str

---

## ðŸŸ¨ Days Since Posted (2.10.2)

In [20]:
day_since_post_df = df.copy()
date_today = pd.to_datetime('today')
days_since_post_df = df.copy()

days_since_post_df['days_since_posted'] = days_since_post_df['job_posted_date'].apply(lambda posted_date: date_today - posted_date)
days_since_post_df['days_since_posted']

0        758 days 22:41:29.314120
1        911 days 23:07:37.314120
2        642 days 23:10:49.314120
3        740 days 23:24:03.314120
4        706 days 21:56:08.314120
                   ...
785736   854 days 06:09:28.314120
785737   855 days 06:07:26.314120
785738   855 days 05:53:08.314120
785739   855 days 05:53:29.314120
785740   854 days 06:09:13.314120
Name: days_since_posted, Length: 785741, dtype: timedelta64[ns]

---

## ðŸŸ¥ Salary Category (2.10.3)

In [ ]:
salary_cat_df = df.copy()

def salary_category(year_salary):
  if year_salary >= 100000:
    return 'Makes a lot' 
  
  else:
    return 'Makes slightly less'

salary_cat_df['salary_category'] = salary_cat_df['salary_year_avg'].apply(salary_category)
salary_cat_df['salary_category']

0         Makes slightly less
1         Makes slightly less
2         Makes slightly less
3         Makes slightly less
4         Makes slightly less
                 ...
785736    Makes slightly less
785737    Makes slightly less
785738    Makes slightly less
785739    Makes slightly less
785740    Makes slightly less
Name: salary_category, Length: 785741, dtype: object

---